<div class="container">
	<div class="header">
		<h5 class="motto">report View</h5>
	</div>
	<div class="content">
		<dl class="row" style="display:inline">
			<dt class="col-sm-12">Name:</dt>
			<dd class="col-sm-12">{{name}}</dd>
			<dt class="col-sm-12">Gender:</dt>
			<dd class="col-sm-12">{{gender}}</dd>
			<dt class="col-sm-12">Rating:</dt>
			<dd class="col-sm-12">{{progress}}%</dd>
			<dt class="col-sm-12">Favorate color:</dt>
			<dd class="col-sm-12">{{col}}</dd>
			<dt class="col-sm-12">Date of birth:</dt>
			<dd class="col-sm-12">{{dob}}</dd>
		</dl>
	</div>
	<div class="footer">
		<button onclick="window.location.href='/'">Back</button>
	</div>
</div>