<!--<div class="col-md-4 col-sm-6">-->
	<div class="container">
		<div class="header">
			<h5 class="motto">Summary View</h5>
			<a href="/src/recordView/index.html?recordId={{id}}">Detail view</a>
		</div>
		<div class="content">
			<dl class="row" style="display:inline">
				<dt class="col-sm-12">Name:</dt>
				<dd class="col-sm-12">{{name}}</dd>
				<dt class="col-sm-12">Gender:</dt>
				<dd class="col-sm-12">{{gender}}</dd>
				<dt class="col-sm-12">Rating:</dt>
				<dd class="col-sm-12">{{rating}}</dd>
				<dt class="col-sm-12">Favorate color:</dt>
				<dd class="col-sm-12">{{favoriteColor}}</dd>
				<dt class="col-sm-12">Date of birth:</dt>
				<dd class="col-sm-12">{{dob}}</dd>
			</dl>
		</div>
		<div class="footer">
			<button id = "closeSummary">Close</button>
		</div>
	</div>
	<!-- end container -->
<!--</div>-->